$base-scale: 16px;

// do not give padding and margin in multiple of 2's. use multiple of 4 or 8
$scale: (
  auto: auto,
  0: 0,
  1: 1px,
  2: 2px,
  4: 4px,
  8: 8px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  20: 20px,
  24: 24px,
  28: 28px,
  32: 32px,
  40: 40px,
  48: 48px,
);

$border-width: 1px;
$border-bold: 2px;
