@use "../../styles/partials/" as *;

.cardContainer{
    display: flex;
    padding: 8px;
    width:400px;
    border: 1px solid map-get($map: $grey-color, $key: grey-300);
    border-radius: map-get($map: $scale, $key: 8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .ticketSummary {
        display: flex;
        gap: map-get($map: $scale, $key: 8);
        flex-direction: column;
        padding: 8px;
        :local(.title) {
            @extend .sub-hero-text-regular-medium;
        }
        :local(.about){
            @extend .hero-text-regular;
            font-weight: 500;
        }
    }
}